:host {
    --tui-primary: #373a3f;
    --tui-primary-hover: #56A4FF;
    --tui-error-fill: #e48787;
    --tui-base-01: #2E3034;
    --tui-base-03: transparent;
    --tui-text-01: white;
    --tui-text-02: #53565B;
    --tui-text-03: #53565B;
    --tui-autofill: #2E3034;
}

* {
    box-sizing: border-box;
}

.content {
    display: flex;
    margin: 0 auto;
    max-width: 350px;
    padding-top: 4%;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.white-span {
    color: white;
}

.blue-span {
    color: #56A4FF;
}

p {
    font-size: large;
    color: var(--tui-text-01);
    margin-bottom: 40px;
}

.logo {
    align-self: center;
}

.logo > img {
    max-width: 150px;
    margin-left: 5%;
    padding-bottom: 20px;
}

.link-button-container > a {
    background-color: transparent;
    --tui-primary: transparent;
    margin: 8px;
    width: 60px;
    height: 60px;
}

:hover .link-button-container a {
    --tui-primary-hover: white;
}

.link-button-container :hover path {
    fill: var(--tui-base-01);
}

.link-button-container {
    bottom: 0;
    align-self: center;
    position: absolute;
    padding-bottom: 1%;
}

path {
    fill: white;
}