<style>
    @import "login.component.scss";
</style>

<div class="content" role="main">
    <form [formGroup]="loginForm" class="login-form">
        <tui-input formControlName="email" [tuiTextfieldCleaner]="true">
            E-mail
            <input tuiTextfield/>
        </tui-input>
        <tui-input-password formControlName="password">
            Password
            <input tuiTextfield/>
        </tui-input-password>
    </form>

    <div class="button-container">
        <button tuiButton>
            Sign in
        </button>
    </div>

    <div>
      <a href="/auth/registration">
        Have no account? Sign up!
      </a>
    </div>
</div>
